ion-title {
  margin-top: 15px;
}

ion-col {
  background-color: #7f7f7f;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
}

ion-grid {
  margin-top: 25px;
}

.button-add{
  float: right
}

.button-action{
  width: 95%;
}